* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.topContainer {
    padding: 40px;
    min-height: 50vh;
    box-sizing: border-box;
}

.logo {
    height: 65px;
}
h2.claim {
    margin-top: 60px;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}
.infoText {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 70%;
    color: rgba(0, 0, 0, 0.7);
}
.footerContainer {
    min-height: 50vh;
    box-sizing: border-box;
    padding: 40px;
    background: url('../gfx/bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
.footer {
    position: absolute;
    bottom: 32px;
    left: 40px;
    right: 40px;
}
.footer .col {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}
.footer .col h3 {
    font-weight: 700;
    font-size: 38px;
    margin: 0 0 10px -2px;
}


@media (min-width: 900px) and (max-width: 1200px) {
    .infoText {
        max-width: 80%;
    }
}

@media (max-width: 900px) {
    .infoText {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .topContainer {
        padding: 20px;
    }
    .footerContainer {
        padding: 20px;
    }
    .footer {
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
}